In [1]:
import pickle
import pandas as pd
import numpy as np
import joblib
from pickle import load
from pickle import dump

from sklearn.preprocessing import MinMaxScaler


import datetime
# import timedelta
# 오늘날짜 기준
dt = datetime.datetime.now()
fl_dt = str(dt.year) + str(dt.month) + str(dt.day)

In [2]:
load_md = pickle.load(open('xgb_model_수도권v0.9(매매가)' + '20211130','rb'))

In [37]:
load_md

XGBRegressor(base_score=0.5, booster='dart', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=10,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=5000, n_jobs=8, num_parallel_tree=1, random_state=0,
             rate_drop=0.1, reg_alpha=0, reg_lambda=1, sample_type='uniform',
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [3]:
ft_nm = np.array(load_md.get_booster().feature_names)
ft_nm

array(['number_of_units_total', 'net_area', 'number_of_units', 'age',
       'number_of_dongs', 'floor_highest_dong', 'floor_lowest_dong',
       'rent_ratio', 'kb_price_growth', 'kb_rent_growth', 'x', 'y',
       'number_of_parking', 'academy', 'harmful_facility',
       'subway_distance', 'subway', 'culture', 'department_store', 'mart',
       'cafe', 'convenience', 'hospital', 'pharmacy',
       'close_apt_price_growth', 'close_apt_rent_growth',
       'kb_rent_growth_24', 'kb_rent_growth_36', '빌딩_5000', '상가_100',
       '상가_200', '학교_3000', '학교_500', '도서관_3000', '우체국_5000', '빌라_3000',
       'IC_4000', 'IC_8000', '오피스텔_6000', '주상복합_5000', '개발지구_6000',
       '강남역_소요시간', '시청역_소요시간', '여의도역_소요시간', 'number_of_rooms',
       'number_of_bathrooms'], dtype='<U22')

In [4]:
len(ft_nm)

46

In [16]:
scaler1 = load(open("input_scaler_re.pkl", 'rb'))
scaler2 = load(open("output_scaler.pkl", 'rb'))

In [6]:
scaler1

MinMaxScaler()

In [7]:
final_data = pd.read_csv('D:\\ML model\\ML_20211130\\train_raw_data.csv')
test_dt = final_data

In [8]:
test_dt.columns

Index(['kb_unit_type_id', 'kb_apartment_id', 'number_of_units_total',
       'net_area', 'number_of_units', 'age', 'number_of_dongs',
       'floor_highest_dong', 'floor_lowest_dong', 'rent_ratio',
       'kb_price_growth', 'kb_rent_growth', 'x', 'y', 'number_of_parking',
       'academy', 'harmful_facility', 'subway_distance', 'subway', 'culture',
       'department_store', 'mart', 'cafe', 'convenience', 'hospital',
       'pharmacy', 'close_apt_price_growth', 'close_apt_rent_growth',
       'kb_rent_growth_24', 'kb_rent_growth_36', 'price_per_size', '빌딩_5000',
       '상가_100', '상가_200', '학교_3000', '학교_500', '도서관_3000', '우체국_5000',
       '빌라_3000', 'IC_4000', 'IC_8000', '오피스텔_6000', '주상복합_5000', '개발지구_6000',
       '강남역_소요시간', '시청역_소요시간', '여의도역_소요시간', 'number_of_rooms',
       'number_of_bathrooms'],
      dtype='object')

In [9]:
len(test_dt)

56264

In [10]:
len(test_dt.columns)

49

In [11]:
# test_dt1 = test_dt[test_dt["kb_unit_type_id"] == 11124]
# test_dt1 = test_dt1.drop_duplicates()
# test_dt1 = pd.concat([test_dt1] * 5, ignore_index = True)
# test_dt1

,kb_unit_type_id,kb_apartment_id,number_of_units_total,net_area,number_of_units,age,number_of_dongs,floor_highest_dong,floor_lowest_dong,rent_ratio,...,IC_4000,IC_8000,오피스텔_6000,주상복합_5000,개발지구_6000,강남역_소요시간,시청역_소요시간,여의도역_소요시간,number_of_rooms,number_of_bathrooms
0,11124.0,3246.0,1612.0,84.97,591.0,5.0,15.0,38.0,3.0,0.5329,...,50.0,152.0,8764.0,6562.0,36.0,23.0,43.0,28.0,3.0,2.0
1,11124.0,3246.0,1612.0,84.97,591.0,5.0,15.0,38.0,3.0,0.5329,...,50.0,152.0,8764.0,6562.0,36.0,23.0,43.0,28.0,3.0,2.0
2,11124.0,3246.0,1612.0,84.97,591.0,5.0,15.0,38.0,3.0,0.5329,...,50.0,152.0,8764.0,6562.0,36.0,23.0,43.0,28.0,3.0,2.0
3,11124.0,3246.0,1612.0,84.97,591.0,5.0,15.0,38.0,3.0,0.5329,...,50.0,152.0,8764.0,6562.0,36.0,23.0,43.0,28.0,3.0,2.0
4,11124.0,3246.0,1612.0,84.97,591.0,5.0,15.0,38.0,3.0,0.5329,...,50.0,152.0,8764.0,6562.0,36.0,23.0,43.0,28.0,3.0,2.0

In [12]:
# test_dt1.age

0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: age, dtype: float64

In [ ]:
# test_dt1.at[0,'age'] = 1
# test_dt1.at[1,'age'] = 10
# test_dt1.at[2,'age'] = 15
# test_dt1.at[3,'age'] = 50

In [426]:
# test_dt.loc[0].values

In [427]:
# # input_data = pd.DataFrame(test_dt.drop(columns=['kb_unit_type_id', 'kb_apartment_id',"price_per_size"]).loc[0].values)
# input_data = pd.DataFrame([test_dt.loc[0].to_list()], columns=test_dt.columns)
# input_data

In [20]:
test_dt_scale = scaler1.transform(test_dt.drop(columns=["kb_unit_type_id", "kb_apartment_id","price_per_size"]))
# test_dt_scale
# pd.DataFrame(vl_dt.reshape(1,-1),columns=ft_nm)

test_dt_scale = pd.DataFrame(test_dt_scale, columns = test_dt.drop(columns=["kb_unit_type_id", "kb_apartment_id","price_per_size"]).columns)

# scaler2.fit_transform(test_dt[["kb_unit_type_id","price_per_size"]])

test_dt_scale["predict_xgb_price_per_size"] = load_md.predict(test_dt_scale)

In [21]:
len(test_dt_scale)

56264

In [22]:
test_dt_scale

,number_of_units_total,net_area,number_of_units,age,number_of_dongs,floor_highest_dong,floor_lowest_dong,rent_ratio,kb_price_growth,kb_rent_growth,...,IC_8000,오피스텔_6000,주상복합_5000,개발지구_6000,강남역_소요시간,시청역_소요시간,여의도역_소요시간,number_of_rooms,number_of_bathrooms,predict_xgb_price_per_size
0,0.011154,0.291854,0.011424,0.588235,0.066116,0.000000,0.043478,0.541337,0.211344,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.333333,0.000000,0.195469
1,0.011154,0.291854,0.011424,0.588235,0.066116,0.000000,0.043478,0.541337,0.211344,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.333333,0.000000,0.195469
2,0.011154,0.490940,0.005294,0.588235,0.066116,0.000000,0.043478,0.479359,0.258582,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.500000,0.333333,0.165241
3,0.011154,0.490940,0.005294,0.588235,0.066116,0.000000,0.043478,0.479359,0.258582,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.500000,0.333333,0.165241
4,0.011154,0.545384,0.002508,0.588235,0.066116,0.000000,0.043478,0.484018,0.252157,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.666667,0.333333,0.162500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56259,0.010273,0.296425,0.016439,0.274510,0.000000,0.181818,0.217391,0.747968,0.154256,0.244371,...,0.022472,0.001397,0.001754,0.022222,0.572093,0.521930,0.521739,0.333333,0.333333,0.034724
56260,0.033754,0.206677,0.038729,0.039216,0.024793,0.242424,0.246377,0.805288,0.189194,0.250954,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.075029
56261,0.033754,0.206677,0.038729,0.039216,0.024793,0.242424,0.246377,0.805288,0.189194,0.250954,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.075029
56262,0.033754,0.261244,0.038729,0.039216,0.024793,0.242424,0.246377,0.759020,0.180750,0.209664,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.073593
56263,0.033754,0.261244,0.038729,0.039216,0.024793,0.242424,0.246377,0.759020,0.180750,0.209664,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.073593

In [430]:
# vl_dt = np.array([5.30800000e+03, 1.48400000e+03, 1.14720000e+02, 1.89000000e+02,
#        2.10000000e+01, 1.06500000e+05, 7.15000000e+04, 6.71400000e-01,
#        1.67100000e+01, 4.02000000e+01, 1.26951072e+02, 3.75858045e+01,
#        8.15000000e+02, 3.08000000e+02, 1.20000000e+01, 2.00000000e+00,
#        2.35000000e+02, 1.00000000e+01, 8.10000000e+01, 1.40000000e+01,
#        1.10000000e+01, 9.90000000e+01, 8.00000000e+00, 0.00000000e+00,
#        2.93313101e+01, 2.82037549e+01, 4.59200000e+01, 4.44400000e+01,
#        3.06891651e+03, 7.59600000e+03, 4.00000000e+00, 2.00000000e+00])

# rslt_dt = pd.DataFrame(test_dt_scale,columns=test_dt.columns)
# # rslt_dt = rslt_dt.drop(columns=["kb_unit_type_id", 'kb_apartment_id'])
# rslt_dt

,kb_unit_type_id,kb_apartment_id,net_area,number_of_units,age,rent_ratio,gap,kb_price_growth,kb_rent_growth,x,...,우체국_5000,빌라_3000,IC_4000,IC_8000,오피스텔_6000,주상복합_5000,개발지구_6000,강남역_소요시간,number_of_rooms,number_of_bathrooms
0,0.220428,0.212425,0.297404,0.164391,-0.019231,0.519666,0.328331,0.201738,0.206672,0.435009,...,0.609195,0.386797,0.561798,0.853933,0.717818,0.674301,0.8,0.106977,0.333333,0.333333
1,0.220428,0.212425,0.297404,0.164391,0.153846,0.519666,0.328331,0.201738,0.206672,0.435009,...,0.609195,0.386797,0.561798,0.853933,0.717818,0.674301,0.8,0.106977,0.333333,0.333333
2,0.220428,0.212425,0.297404,0.164391,0.250000,0.519666,0.328331,0.201738,0.206672,0.435009,...,0.609195,0.386797,0.561798,0.853933,0.717818,0.674301,0.8,0.106977,0.333333,0.333333
3,0.220428,0.212425,0.297404,0.164391,0.923077,0.519666,0.328331,0.201738,0.206672,0.435009,...,0.609195,0.386797,0.561798,0.853933,0.717818,0.674301,0.8,0.106977,0.333333,0.333333
4,0.220428,0.212425,0.297404,0.164391,0.057692,0.519666,0.328331,0.201738,0.206672,0.435009,...,0.609195,0.386797,0.561798,0.853933,0.717818,0.674301,0.8,0.106977,0.333333,0.333333

In [ ]:
rslt_dt.columns

NameError: name 'rslt_dt' is not defined

In [433]:
test_dt1["predict_value"] = load_md.predict(rslt_dt.drop(columns=["kb_unit_type_id", "kb_apartment_id","price_per_size"]))
test_dt1

,kb_unit_type_id,kb_apartment_id,net_area,number_of_units,age,rent_ratio,gap,kb_price_growth,kb_rent_growth,x,...,빌라_3000,IC_4000,IC_8000,오피스텔_6000,주상복합_5000,개발지구_6000,강남역_소요시간,number_of_rooms,number_of_bathrooms,predict_value
0,11124.0,3246.0,84.97,591.0,1.0,0.5329,177500.0,11.76,10.96,126.992999,...,4243.0,50.0,152.0,8764.0,6562.0,36.0,23.0,3.0,2.0,0.926934
1,11124.0,3246.0,84.97,591.0,10.0,0.5329,177500.0,11.76,10.96,126.992999,...,4243.0,50.0,152.0,8764.0,6562.0,36.0,23.0,3.0,2.0,0.926986
2,11124.0,3246.0,84.97,591.0,15.0,0.5329,177500.0,11.76,10.96,126.992999,...,4243.0,50.0,152.0,8764.0,6562.0,36.0,23.0,3.0,2.0,0.772079
3,11124.0,3246.0,84.97,591.0,50.0,0.5329,177500.0,11.76,10.96,126.992999,...,4243.0,50.0,152.0,8764.0,6562.0,36.0,23.0,3.0,2.0,0.737998
4,11124.0,3246.0,84.97,591.0,5.0,0.5329,177500.0,11.76,10.96,126.992999,...,4243.0,50.0,152.0,8764.0,6562.0,36.0,23.0,3.0,2.0,0.926988

In [434]:
out_result = {'price_per_size' : [0.92698824]}
output_data = pd.DataFrame(out_result)
scaler2.inverse_transform(output_data)

array([[14583.19500266]])

In [435]:
scaler2.inverse_transform(output_data)

array([[14583.19500266]])

In [436]:
test_dt1[["age", "price_per_size", 'predict_value']]

    age  price_per_size  predict_value
0   1.0    14784.021419       0.926934
1  10.0    14784.021419       0.926986
2  15.0    14784.021419       0.772079
3  50.0    14784.021419       0.737998
4   5.0    14784.021419       0.926988

In [437]:
scaler2.inverse_transform(pd.DataFrame([0.737998]))

array([[11665.60674115]])

In [28]:
scaler2.inverse_transform(pd.DataFrame(test_dt_scale['predict_xgb_price_per_size']))

array([[3290.169 ],
       [3290.169 ],
       [2823.5178],
       ...,
       [1430.838 ],
       [1408.6686],
       [1408.6686]], dtype=float32)

In [29]:
test_dt_scale

,number_of_units_total,net_area,number_of_units,age,number_of_dongs,floor_highest_dong,floor_lowest_dong,rent_ratio,kb_price_growth,kb_rent_growth,...,IC_8000,오피스텔_6000,주상복합_5000,개발지구_6000,강남역_소요시간,시청역_소요시간,여의도역_소요시간,number_of_rooms,number_of_bathrooms,predict_xgb_price_per_size
0,0.011154,0.291854,0.011424,0.588235,0.066116,0.000000,0.043478,0.541337,0.211344,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.333333,0.000000,0.195469
1,0.011154,0.291854,0.011424,0.588235,0.066116,0.000000,0.043478,0.541337,0.211344,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.333333,0.000000,0.195469
2,0.011154,0.490940,0.005294,0.588235,0.066116,0.000000,0.043478,0.479359,0.258582,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.500000,0.333333,0.165241
3,0.011154,0.490940,0.005294,0.588235,0.066116,0.000000,0.043478,0.479359,0.258582,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.500000,0.333333,0.165241
4,0.011154,0.545384,0.002508,0.588235,0.066116,0.000000,0.043478,0.484018,0.252157,0.124691,...,0.320225,0.477614,0.355411,0.444444,0.269767,0.100877,0.154150,0.666667,0.333333,0.162500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56259,0.010273,0.296425,0.016439,0.274510,0.000000,0.181818,0.217391,0.747968,0.154256,0.244371,...,0.022472,0.001397,0.001754,0.022222,0.572093,0.521930,0.521739,0.333333,0.333333,0.034724
56260,0.033754,0.206677,0.038729,0.039216,0.024793,0.242424,0.246377,0.805288,0.189194,0.250954,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.075029
56261,0.033754,0.206677,0.038729,0.039216,0.024793,0.242424,0.246377,0.805288,0.189194,0.250954,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.075029
56262,0.033754,0.261244,0.038729,0.039216,0.024793,0.242424,0.246377,0.759020,0.180750,0.209664,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.073593
56263,0.033754,0.261244,0.038729,0.039216,0.024793,0.242424,0.246377,0.759020,0.180750,0.209664,...,0.022472,0.001397,0.001754,0.088889,0.576744,0.526316,0.525692,0.333333,0.333333,0.073593

In [30]:
test_dt_scale.columns

Index(['number_of_units_total', 'net_area', 'number_of_units', 'age',
       'number_of_dongs', 'floor_highest_dong', 'floor_lowest_dong',
       'rent_ratio', 'kb_price_growth', 'kb_rent_growth', 'x', 'y',
       'number_of_parking', 'academy', 'harmful_facility', 'subway_distance',
       'subway', 'culture', 'department_store', 'mart', 'cafe', 'convenience',
       'hospital', 'pharmacy', 'close_apt_price_growth',
       'close_apt_rent_growth', 'kb_rent_growth_24', 'kb_rent_growth_36',
       '빌딩_5000', '상가_100', '상가_200', '학교_3000', '학교_500', '도서관_3000',
       '우체국_5000', '빌라_3000', 'IC_4000', 'IC_8000', '오피스텔_6000', '주상복합_5000',
       '개발지구_6000', '강남역_소요시간', '시청역_소요시간', '여의도역_소요시간', 'number_of_rooms',
       'number_of_bathrooms', 'predict_xgb_price_per_size'],
      dtype='object')

In [33]:
len(test_dt_scale)

56264

In [31]:
final_data.columns

Index(['kb_unit_type_id', 'kb_apartment_id', 'number_of_units_total',
       'net_area', 'number_of_units', 'age', 'number_of_dongs',
       'floor_highest_dong', 'floor_lowest_dong', 'rent_ratio',
       'kb_price_growth', 'kb_rent_growth', 'x', 'y', 'number_of_parking',
       'academy', 'harmful_facility', 'subway_distance', 'subway', 'culture',
       'department_store', 'mart', 'cafe', 'convenience', 'hospital',
       'pharmacy', 'close_apt_price_growth', 'close_apt_rent_growth',
       'kb_rent_growth_24', 'kb_rent_growth_36', 'price_per_size', '빌딩_5000',
       '상가_100', '상가_200', '학교_3000', '학교_500', '도서관_3000', '우체국_5000',
       '빌라_3000', 'IC_4000', 'IC_8000', '오피스텔_6000', '주상복합_5000', '개발지구_6000',
       '강남역_소요시간', '시청역_소요시간', '여의도역_소요시간', 'number_of_rooms',
       'number_of_bathrooms'],
      dtype='object')

In [34]:
len(final_data)

56264

In [36]:
final_data['predict_xgb_price_per_size'] = scaler2.inverse_transform(pd.DataFrame(test_dt_scale['predict_xgb_price_per_size']))
final_data

,kb_unit_type_id,kb_apartment_id,number_of_units_total,net_area,number_of_units,age,number_of_dongs,floor_highest_dong,floor_lowest_dong,rent_ratio,...,IC_8000,오피스텔_6000,주상복합_5000,개발지구_6000,강남역_소요시간,시청역_소요시간,여의도역_소요시간,number_of_rooms,number_of_bathrooms,predict_xgb_price_per_size
0,1.0,1.0,126.0,83.61,42.0,33.0,9.0,3.0,3.0,0.5529,...,57.0,5840.0,3471.0,20.0,58.0,23.0,39.0,3.0,1.0,3290.168945
1,1.0,1.0,126.0,83.61,42.0,33.0,9.0,3.0,3.0,0.5529,...,57.0,5840.0,3471.0,20.0,58.0,23.0,39.0,3.0,1.0,3290.168945
2,2.0,1.0,126.0,132.39,20.0,33.0,9.0,3.0,3.0,0.4957,...,57.0,5840.0,3471.0,20.0,58.0,23.0,39.0,4.0,2.0,2823.517822
3,2.0,1.0,126.0,132.39,20.0,33.0,9.0,3.0,3.0,0.4957,...,57.0,5840.0,3471.0,20.0,58.0,23.0,39.0,4.0,2.0,2823.517822
4,3.0,1.0,126.0,145.73,10.0,33.0,9.0,3.0,3.0,0.5000,...,57.0,5840.0,3471.0,20.0,58.0,23.0,39.0,5.0,2.0,2781.199219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56259,50460.0,15276.0,120.0,84.73,60.0,17.0,1.0,15.0,15.0,0.7436,...,4.0,43.0,43.0,1.0,123.0,119.0,132.0,3.0,2.0,808.617432
56260,50461.0,15277.0,280.0,62.74,140.0,5.0,4.0,19.0,17.0,0.7965,...,4.0,43.0,43.0,4.0,124.0,120.0,133.0,3.0,2.0,1430.838013
56261,50461.0,15277.0,280.0,62.74,140.0,5.0,4.0,19.0,17.0,0.7965,...,4.0,43.0,43.0,4.0,124.0,120.0,133.0,3.0,2.0,1430.838013
56262,50462.0,15277.0,280.0,76.11,140.0,5.0,4.0,19.0,17.0,0.7538,...,4.0,43.0,43.0,4.0,124.0,120.0,133.0,3.0,2.0,1408.668579
56263,50462.0,15277.0,280.0,76.11,140.0,5.0,4.0,19.0,17.0,0.7538,...,4.0,43.0,43.0,4.0,124.0,120.0,133.0,3.0,2.0,1408.668579